% rebase('baza.html')

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <h1><b>Shranjevalec virov in QR-kodirnik</b></h1>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <form method="POST" action="/odjava/">
            <button class="button is-light">
                <strong>Odjava</strong>
            </button>
            </form>
            
            <a class="button is-white">
              {{u}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<div class="content is-large">
    <h1>{{ime}}</h1>
</div>

<div class="content is-large">
    <h4>Dodaj vir</h4>
</div>

<form method="POST" action="/dodaj_vir/">
    <div class="field">
        <label class="label">Vir</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" name="vir" type="text" placeholder="www.vstavi.vir.com" value="{{polja.get('ime', '')}}">
            <span class="icon is-small is-left">
                <i class="fas fa-clipboard-check"></i>
            </span>
        </div>
        % if "vir" in napake:
        <p class="help is-danger">{{ napake["vir"] }}</p>
        % end
    </div>
    <div class="control">
        <p><b>Opis</b></p>
        <textarea class="textarea is-info" name="opis" placeholder="Info textarea"></textarea>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input type="hidden" name="indeks_teme" value="{{i}}">
            <button class="button is-info">Dodaj</button>
        </div>
        <div class="control">
            <a class="button is-link is-light" href="/poglej_vire/?indeks={{i}}">Prekliči</a>
        </div>
    </div>
</form>