% rebase('baza.html')
<form class="box" method="POST" action="/izdelaj_QR/">
    <div class="field">
      <label class="label">Vir</label>
      <div class="control">
        <input class="input" name="vir" type="text" placeholder="e.g. www.vstavi.vir">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Ime slike</label>
      <div class="control">
        <input class="input" name="ime" type="text" placeholder="moj QR-koda">
      </div>
    </div>
  
    <button class="button is-primary">Izdelaj QR-kodo</button>
  </form>
