% rebase('baza.html')

<h3 class="title is-3">Shranjevalev virov in QR-kodirnik</h3>

<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <td>
                <h3 class="title is-3">REGISTRACIJA</h3>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <form method="POST" action="/registracija/">
                <td>
                    <div class="control has-icons-left">
                        <div class="buttons">
                            <button class="button is-info">Prekliči</button>
                        </div>
                    </div>
                </td>
            </form>
        </tr>
    </thead>
</table>

<form method="POST">
    <div class="field">
        <label class="label">Uporabniško ime</label>
        <div class="control has-icons-left">
            <input class="input" name="uporabnisko_ime" type="text" placeholder="uporabniško ime">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
        </div>
        % if napaka:
        <p class="help is-danger">{{ napaka }}</p>
        % end
    </div>
    <div class="field">
        <label class="label">Geslo</label>
        <div class="control has-icons-left">
            <input class="input" name="geslo" type="password" placeholder="geslo">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-info">Registriraj se</button>
        </div>
    </div>
</form>