% rebase('baza.html')

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <h1><b>Shranjevalec virov</b></h1>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <form method="POST" action="/odjava/">
            <button class="button is-light">
                <strong>Odjava</strong>
            </button>
            </form>
            
            <a class="button is-white">
              {{u}}
            </a>
          </div>
        </div>
      </div>
    </div>
</nav>

<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form action="/osnovna_stran/">
                <td>
                </td>
            </form>
            
            <form method="POST" action="/dodaj_temo/">
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="ime" placeholder="ime teme">
                        <span class="icon is-small is-left">
                            <i class="far fa-clipboard-check"></i>
                        </span>
                        % if napaka:
                        <p class="help is-danger">{{ napaka["ime"] }}</p>
                        % end
                    </div>
                </td>
                <td>
                    <div class="control">
                        <button class="button is-info is-small">dodaj temo</button>
                    </div>
                </td>
                <td></td>
            </form>
        </tr>
    </thead>
    <div class="content is-large">
        <h1>Teme</h1>
    </div>
</table>
<table class="table is-hoverable is-fullwidth">
    % for indeks, tema in enumerate(t):
    <tr>
        <td>               
                <form action="/poglej_vire/">
                <input type="hidden" name="indeks" value="{{indeks}}">
                <button class="button is-white">    
                    <b>{{tema.ime}}</b>       
                </button>
                </form>    
        </td>
        <td>
            <form method="POST" action="/odstrani_temo/">
                <input type="hidden" name="indeks" value="{{indeks}}">
                <button class="button is-info is-small">izbriši temo</button>
            </form>
        </td>
        <td></td>
    </tr>
    %end
</table>


