% rebase('baza.html')
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <h1><b>Shranjevalec virov in QR-kodirnik</b></h1>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <form method="POST" action="/odjava/">
            <button class="button is-light">
                <strong>Odjava</strong>
            </button>
            </form>
            
            <a class="button is-white">
              {{u}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<div class="content is-large">
    <h1>{{ime}}</h1>
</div>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form action="/prikazi_teme/">
                <td>
                    <div class="buttons">
                        <button class="button is-info">Nazaj</button>
                      </div>
                </td>
            </form>
            
            <form action="/obrazec_za_dodajanje_vira/">
                <td>
                </td>
                <td>
                    <div class="control">
                        <input type="hidden" name="tema" value="{{i}}">
                        <button class="button is-info">dodaj vir</button>
                    </div>
                </td>
                <td></td>
            </form>
        </tr>
    </thead>
</table>
<div class="content is-large">
    <h3>Viri</h3>
</div>
% for indeks,vir in enumerate(viri):
<article class="message is-info">
    <div class="message-header">
      <p>Vir:<a href="{{vir.ime}}" target="_blank">{{vir.ime}}</a></p>
      <form method="POST" action="/odstrani_vir/">
        <input type="hidden" name="tema" value="{{i}}">
        <input type="hidden" name="indeks" value="{{indeks}}">
        <button class="delete" aria-label="delete"></button>
      </form>
      
    </div>
    <div class="message-body">
        <ul><strong>Opis vira:</strong> {{vir.opis}}</ul>
        <ul><strong>Dodano:</strong> {{vir.datum}}</ul>    
    </div>
  </article>
  %end